body{
    background-color:#ccffff;
 }

 h3{
     margin: auto;
     color:#121212;
     font: bold;
 }
 
.header  img {
 width:1200px;
 height: 400px;
 margin-left: 40px;
 
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float:left;
    
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
}

li a:hover {
    background-color:#0000ff
}
level1{
    margin-left: 500px;
}
level2{
    margin-left: 500px;
}
level3{
    margin-left: 500px;
}



