body{
    background-color:#000\9;
 }
 
 h3{
     font-size: 30px;
     font: bold;
     color: black;
     margin-top: 10px;
     margin-left: 500px;
     
     
 }
 level1{
     margin-left: 520px;
 }
 
 level2{
    margin-left: 520px;
 }
 level3{
    margin-left: 520px;
 }
 
 .header  img {
 width:1200px;
 height: 400px;
 margin-left: 40px;
 
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float:left;
    
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
}

li a:hover {
    background-color:#0000ff
}