table {
     border-collapse: collapse;
     height: 50%;
     width: 50%;
     margin: auto;
     color:#96daff;
 }
body{
    background-color:#000\9;
 }
table, th, td {
     border: 1px solid black;
 }
 th, td {
    text-align: right;
    padding: 8px;
    
}

tr,td{
    color:#008200;
}

th {
    background-color: red;
    color: white;
}

 h3{
     margin-top: 15px;
     color:#CC0000;
     font: bold;
     font-size: 20px;
 }
 
.header  img {
 width:1200px;
 height: 400px;
 margin-left: 40px;
 
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float:left
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
}

li a:hover {
    background-color:#0000ff
}
tr:nth-child(even){background-color:#EEEEEE}



